In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('uy_bor_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2444 entries, 0 to 2443
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   titles          2444 non-null   object
 1   rooms           2444 non-null   object
 2   areas           2444 non-null   object
 3   floors          2444 non-null   object
 4   renovations     2444 non-null   object
 5   materials       2444 non-null   object
 6   prices          2444 non-null   object
 7   addresses       2444 non-null   object
 8   lifts           2444 non-null   object
 9   securities      2444 non-null   object
 10  internets       2444 non-null   object
 11  playgrounds     2444 non-null   object
 12  sewerages       2444 non-null   object
 13  bathrooms       2444 non-null   object
 14  video_monitor   2444 non-null   object
 15  parking_spaces  2444 non-null   object
 16  air_conditions  2444 non-null   object
 17  furnitures      2444 non-null   object
dtypes: object(18)
memory usage: 343.8+ KB

In [4]:
df['titles'].value_counts()

titles
2-комнатная квартира на продажу                 1033
3-комнатная квартира на продажу                  573
1-комнатная квартира на продажу                  534
4-комнатная квартира на продажу                  263
5-комнатная квартира на продажу                   34
6+ комнатная квартира на продажу                   5
Квартира со свободной планировкой на продажу       2
Name: count, dtype: int64

In [5]:
def convt(value):
    if value == 'Квартира со свободной планировкой на продажу':
        return 3
    else:
        return int(value[0])
df['titles'] = df['titles'].apply(convt)

In [6]:
df['titles'].value_counts()

titles
2    1033
3     575
1     534
4     263
5      34
6       5
Name: count, dtype: int64

In [7]:
df['addresses'].value_counts()

addresses
город Ташкент, Яшнободский район, махаллинский сход граждан Ахмад Яссавий, улица Алимкент           133
город Ташкент, Мирабадский район, махаллинский сход граждан Айбек, улица Саида Барака                78
город Ташкент, Яшнободский район, махаллинский сход граждан Истиклол                                 78
город Ташкент, Сергелийский район, махаллинский сход граждан Эзгулик                                 75
город Ташкент, Чиланзарский район, 2-й квартал                                                       73
                                                                                                   ...
город Ташкент, Яшнободский район, махаллинский сход граждан Бойкургон, улица Янгибозор                1
город Ташкент, Чиланзарский район, махаллинский сход граждан Кичик Хирмантепа, улица Аль-Хорезми      1
город Ташкент, Яшнободский район, махаллинский сход граждан Ахмад Яссавий, улица Хаваст               1
город Ташкент, Яшнободский район, 58а Военный Городок                                                 1
город Ташкент, Бектемирский район, махаллинский сход граждан Забардаст, Bektemir shoh ko'chasi        1
Name: count, Length: 517, dtype: int64

In [8]:
def addres(value):
    if 'город' in value:
        new_city = value.split(' ')
        return new_city[2]
    elif 'область,' in value:
        new_c = value.split(' ')
        return new_c[2]
    else:
        return value
df['addresses'] = df['addresses'].apply(addres)

In [9]:
def symbol(value):
    if ',' in value:
        value = value.replace(',', '')
        res = value.strip()
        if ' ' in res :
            res = res.replace(' ', '')
            return res
        else:
            return res
    else:
        return value
df['addresses'] = df['addresses'].apply(symbol)

In [10]:
df['addresses'].value_counts()

addresses
Чиланзарский           560
Яшнободский            474
Юнусабадский           414
Мирабадский            274
Мирзо-Улугбекский      197
Учтепинский            186
Сергелийский           121
Яккасарайский           93
Шайхантахурский         46
Алмазарский             25
Янгихаётский            14
городской               10
Бектемирский             7
Чирчик                   4
Самарканд                3
Фергана                  2
Нурафшан                 1
Джизакская область       1
Навои                    1
Ташкентская область      1
Газалкент                1
Янгиюль                  1
Бухара                   1
Джизак                   1
Каган                    1
Андижан                  1
махаллинский             1
Ургенч                   1
Карши                    1
Шахрисабз                1
Name: count, dtype: int64

In [11]:
df

,titles,rooms,areas,floors,renovations,materials,prices,addresses,lifts,securities,internets,playgrounds,sewerages,bathrooms,video_monitor,parking_spaces,air_conditions,furnitures
0,1,1,42 м²,9/12,Черновая отделка,Блочный,42 000 у.е.,Яшнободский,Лифт,Охрана,No internet,Детская площадка,Канализация,No bathroom,Видеонаблюдение,No parking_space,No air_condition,No furniture
1,2,2,75 м²,9/9,Средний,Панельный,80 000 у.е.,Чиланзарский,1,No security,No internet,No playground,No sewerage,No bathroom,No video_monitor,No parking_space,No air_condition,No furniture
2,2,2,86 м²,1/8,Евроремонт,Другое,110 000 у.е.,Яккасарайский,1,No security,No internet,No playground,No sewerage,No bathroom,No video_monitor,No parking_space,No air_condition,No furniture
3,3,3,84 м²,2/4,Средний,Кирпичный,96 000 у.е.,Чиланзарский,no lift,No security,No internet,No playground,No sewerage,No bathroom,No video_monitor,No parking_space,No air_condition,No furniture
4,2,2,50 м²,4/4,Средний,Панельный,55 500 у.е.,Юнусабадский,no lift,No security,No internet,No playground,No sewerage,No bathroom,No video_monitor,No parking_space,No air_condition,No furniture
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2439,1,1,20 м²,4/4,Средний,Кирпичный,26 000 у.е.,Яккасарайский,no lift,No security,Интернет,Детская площадка,Канализация,No bathroom,No video_monitor,Парковочное место,Кондиционер,Мебель
2440,2,2,70 м²,6/9,Средний,Панельный,80 000 у.е.,Мирабадский,Лифт,No security,Интернет,Детская площадка,Канализация,Санузел раздельный,No video_monitor,Парковочное место,Кондиционер,Мебель
2441,2,2,30 м²,7/8,Евроремонт,Кирпичный,80 000 у.е.,Юнусабадский,Лифт,No security,No internet,No playground,No sewerage,No bathroom,No video_monitor,No parking_space,Кондиционер,Мебель
2442,2,2,60.08 м²,2/9,Требует ремонта,Панельный,61 000 у.е.,Яшнободский,1,No security,No internet,No playground,No sewerage,No bathroom,No video_monitor,No parking_space,No air_condition,No furniture
2443,2,2,46.67 м²,1/3,Средний,Кирпичный,46 000 у.е.,Яшнободский,no lift,No security,No internet,No playground,No sewerage,No bathroom,No video_monitor,No parking_space,No air_condition,No furniture

In [12]:
df['rooms'].value_counts()

rooms
2                       1033
3                        573
1                        534
4                        263
5                         34
6+                         5
Свободная планировка       2
Name: count, dtype: int64

In [13]:
def conv(value):
    if '+' in value:
        value = value.replace('+', '') 
        return int(value)
    elif 'Свободная планировка' in value:
        value = value.replace('Свободная планировка', '2')
        return int(value)
    else:
        return int(value)
df['rooms'] = df['rooms'].map(conv)

In [14]:
def covvert_area(value):
    if 'м²' in value:
        value = value.replace('м²', '')
        res = value.strip()
        if ' ' in res:
            res = res.replace(' ', '')
            return float(res)
        else:
            return float(res)
    else:
        return float(value)
df['areas'] = df['areas'].apply(covvert_area)

In [15]:
# df[list(pd.get_dummies(df['floors']).columns)] = pd.get_dummies(df['floors'])
def convert_floort(value):
    return int(value[0])
df['floors'] = df['floors'].map(convert_floort)

In [16]:
df['rooms'].value_counts()

rooms
2    1035
3     573
1     534
4     263
5      34
6       5
Name: count, dtype: int64

In [17]:
def conv_p(value):
    if 'у.е.' in value:
        value=value.replace('у.е.', '')
        res = value.strip()
        if ' ' in res:
            res = res.replace(' ', '')
            return int(float(res))
    else:
        return int(value)
df['prices'] = df['prices'].apply(conv_p)

In [18]:
mean_price = df['prices'].max()
df['prices'] = df['prices'].fillna(mean_price)
def convert(velue):
    return int(velue)
df['prices'] = df['prices'].apply(convert)

In [19]:
df['prices'].value_counts()

prices
80000     177
61000      86
42000      84
46000      74
36000      72
         ...
500000      1
59350       1
64999       1
82750       1
79300       1
Name: count, Length: 482, dtype: int64

In [20]:
df['lifts'].value_counts()

lifts
no lift    1666
1           416
Лифт        362
Name: count, dtype: int64

In [21]:
def conv_l(value):
    if value == 'Лифт':
        return 1
    elif value == 'no lift':
        return 0
    else:
        return 1
df['lifts'] = df['lifts'].map(conv_l)

In [22]:
df['lifts'].value_counts()

lifts
0    1666
1     778
Name: count, dtype: int64

In [23]:
df['securities'].value_counts()

securities
No security    2315
Охрана          129
Name: count, dtype: int64

In [24]:
def conv_s(value):
    if value == 'Охрана':
        return 1
    else:
        return 0
df['securities'] = df['securities'].apply(conv_s)

In [25]:
df['securities'].value_counts()

securities
0    2315
1     129
Name: count, dtype: int64

In [26]:
df['internets'].value_counts()

internets
No internet    1644
Интернет        800
Name: count, dtype: int64

In [27]:
def conv_i(value):
    if value == 'Интернет':
        return 1
    else:
        return 0
df['internets'] = df['internets'].map(conv_i)

In [28]:
df['internets'].value_counts()

internets
0    1644
1     800
Name: count, dtype: int64

In [29]:
df['playgrounds'].value_counts()

playgrounds
No playground       1586
Детская площадка     858
Name: count, dtype: int64

In [30]:
def conv_p(value):
    if value == 'Детская площадка':
        return 1
    else:
        return 0
df['playgrounds'] = df['playgrounds'].map(conv_p)

In [31]:
df['playgrounds'].value_counts()

playgrounds
0    1586
1     858
Name: count, dtype: int64

In [32]:
df['sewerages'].value_counts()

sewerages
No sewerage    1554
Канализация     890
Name: count, dtype: int64

In [33]:
def conv_swg(value):
    if value == 'Канализация':
        return 1
    else:
        return 0
df['sewerages'] = df['sewerages'].map(conv_swg)

In [34]:
df['sewerages'].value_counts()

sewerages
0    1554
1     890
Name: count, dtype: int64

In [35]:
df['bathrooms'].value_counts()

bathrooms
No bathroom           1787
Санузел раздельный     657
Name: count, dtype: int64

In [36]:
def conv_b(value):
    if value == 'Санузел раздельный':
        return 1
    else:
        return 0
df['bathrooms'] = df['bathrooms'].map(conv_b)

In [37]:
df['bathrooms'].value_counts()

bathrooms
0    1787
1     657
Name: count, dtype: int64

In [38]:
df['video_monitor'].value_counts()

video_monitor
No video_monitor    2236
Видеонаблюдение      208
Name: count, dtype: int64

In [39]:
def conv_v(value):
    if value == 'Видеонаблюдение':
        return 1
    else:
        return 0
df['video_monitor'] = df['video_monitor'].map(conv_v)

In [40]:
df['video_monitor'].value_counts()

video_monitor
0    2236
1     208
Name: count, dtype: int64

In [41]:
df['parking_spaces'].value_counts()

parking_spaces
No parking_space     1757
Парковочное место     687
Name: count, dtype: int64

In [42]:
def conv_p(value):
    if value == 'Парковочное место':
        return 1
    else:
        return 0
df['parking_spaces'] = df['parking_spaces'].map(conv_p)

In [43]:
df['parking_spaces'].value_counts()

parking_spaces
0    1757
1     687
Name: count, dtype: int64

In [44]:
df['air_conditions'].value_counts()

air_conditions
No air_condition    1760
Кондиционер          684
Name: count, dtype: int64

In [45]:
def conv_air(value):
    if value == 'Кондиционер':
        return 1
    else:
        return 0
df['air_conditions'] = df['air_conditions'].map(conv_air)

In [46]:
df['air_conditions'].value_counts()

air_conditions
0    1760
1     684
Name: count, dtype: int64

In [47]:
df['furnitures'].value_counts()

furnitures
No furniture    1730
Мебель           714
Name: count, dtype: int64

In [48]:
def conv_f(value):
    if value == 'Мебель':
        return 1
    else:
        return 0
df['furnitures'] = df['furnitures'].map(conv_f)
df['furnitures'].value_counts()

furnitures
0    1730
1     714
Name: count, dtype: int64

In [49]:
def convert_materials(value):
    if 'No material' in value:
        value = value.replace('No material', 'Блочный')
        return value
    else:
        return value
df['materials'] = df['materials'].map(convert_materials)

In [50]:
df['materials'].value_counts()

materials
Панельный     1096
Кирпичный     1067
Монолитный     122
Блочный         97
Другое          62
Name: count, dtype: int64

In [51]:
df

,titles,rooms,areas,floors,renovations,materials,prices,addresses,lifts,securities,internets,playgrounds,sewerages,bathrooms,video_monitor,parking_spaces,air_conditions,furnitures
0,1,1,42.00,9,Черновая отделка,Блочный,42000,Яшнободский,1,1,0,1,1,0,1,0,0,0
1,2,2,75.00,9,Средний,Панельный,80000,Чиланзарский,1,0,0,0,0,0,0,0,0,0
2,2,2,86.00,1,Евроремонт,Другое,110000,Яккасарайский,1,0,0,0,0,0,0,0,0,0
3,3,3,84.00,2,Средний,Кирпичный,96000,Чиланзарский,0,0,0,0,0,0,0,0,0,0
4,2,2,50.00,4,Средний,Панельный,55500,Юнусабадский,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2439,1,1,20.00,4,Средний,Кирпичный,26000,Яккасарайский,0,0,1,1,1,0,0,1,1,1
2440,2,2,70.00,6,Средний,Панельный,80000,Мирабадский,1,0,1,1,1,1,0,1,1,1
2441,2,2,30.00,7,Евроремонт,Кирпичный,80000,Юнусабадский,1,0,0,0,0,0,0,0,1,1
2442,2,2,60.08,2,Требует ремонта,Панельный,61000,Яшнободский,1,0,0,0,0,0,0,0,0,0
2443,2,2,46.67,1,Средний,Кирпичный,46000,Яшнободский,0,0,0,0,0,0,0,0,0,0

In [52]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import joblib
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer

In [53]:
x = df.drop('prices',axis=1)
y = df['prices']

In [54]:
x_train, x_test, y_train, y_test, = train_test_split(x,y, test_size=0.25, random_state=42)

In [55]:
numerical = x_train.select_dtypes(include='int64').columns
categorical = x_train.select_dtypes(include='object').columns
print(numerical)
print(categorical)

Index(['titles', 'rooms', 'floors', 'lifts', 'securities', 'internets',
       'playgrounds', 'sewerages', 'bathrooms', 'video_monitor',
       'parking_spaces', 'air_conditions', 'furnitures'],
      dtype='object')
Index(['renovations', 'materials', 'addresses'], dtype='object')

In [56]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['titles','rooms','areas','floors']),
        ('cut', OneHotEncoder(handle_unknown='ignore'), categorical)
    ]
)

In [57]:
model = make_pipeline(preprocessor,RandomForestRegressor())

In [58]:
model.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['titles', 'rooms', 'areas',
                                                   'floors']),
                                                 ('cut',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  Index(['renovations', 'materials', 'addresses'], dtype='object'))])),
                ('randomforestregressor', RandomForestRegressor())])

In [59]:
prediction = model.predict(x_test)

In [60]:
mse = mean_squared_error(y_test, prediction)
print(F"RMSE:{np.sqrt(mse)}")

RMSE:227699088.37035102